body {


}

.media, .media-body {
    zoom: 1;
    overflow: hidden;
    margin: 10px;
}

#userSearch {
  margin: 4%;
}
.actionButtons {
    position: relative;
    float: right;
}


button.btn.btn-danger.logoutButton {
    position: absolute;
    top: 23%;
    right: 2%;
}

.home-body{
	width: 100vw;
	height: 100vh;
	background-image: url("../images/ui-faces.png");
}

/*@media (max-width: 480px){*/
.modal-button{
	top: 35%;
	left: 40%;
	position: absolute;
	background-color: black;
	color: white;
	font-weight: bold;
	}

/*#editProfileButton {
	  position: absolute;
	  bottom: -23%;
	}*/


/**
 * Profile image component
 */
.profile-box{
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 3%;
	border: 2px solid green;
  color:white;

}

.favorites{
	margin: 5em;
	border: 2px solid black;
}

.pokables{
	border: 2px solid black;
	margin-top: 1em;
}

.profile-header-container{
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
    padding: 1em;
}

.profile-header-img > img.img-circle {
    width: 120px;
    height: 120px;
    border: 2px solid #51D2B7;
}

.profile-header {
    margin-top: 43px;
}

/*on hover have it show pointer
.poker{

}*/


/**
 * label components
 */
.name-label-container {
    margin-top: -39px;
    /* z-index: 1000; */
    text-align: center;
}

.label.label-default.name-label {
    background-color: rgb(81, 210, 183);
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
}
.poked-img{
	padding: 2em;
}

.poke-header{
	text-align: center;
}

/*add on-hover to unpoke*/
.unpoke{
	margin-top: -49px;
	color: white;
}

.poke-label-container {
    margin-top: -19px;
    text-align: center;
}

.label.label-default.poke-label {
    background-color: rgb(81, 210, 183);
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
}


.block-update-card {
  height: 100%;
  border: 1px #FFFFFF solid;
  width: 100%;
  float: left;
  margin-left: 10px;
  margin-top: 0;
  padding: 0;
  box-shadow: 1px 1px 8px #d8d8d8;
  background-color: #FFFFFF;
}
.block-update-card .h-status {
  width: 100%;
  height: 7px;
  background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
}
.block-update-card .v-status {
  width: 5px;
  height: 80px;
  float: left;
  margin-right: 5px;
  background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
}
.block-update-card .update-card-MDimentions {
  width: 80px;
  height: 80px;
}
.block-update-card .update-card-body {
  margin-top: 10px;
  margin-left: 5px;
}
.block-update-card .update-card-body h4 {
  color: #737373;
  font-weight: bold;
  font-size: 13px;
}
.block-update-card .update-card-body p {
  color: #737373;
  font-size: 12px;
}
.block-update-card .card-action-pellet {
  padding: 5px;
}
.block-update-card .card-action-pellet div {
  margin-right: 10px;
  font-size: 15px;
  cursor: pointer;
  color: #dddddd;
}
.block-update-card .card-action-pellet div:hover {
  color: #999999;
}
.block-update-card .card-bottom-status {
  color: #a9a9aa;
  font-weight: bold;
  font-size: 14px;
  border-top: #e0e0e0 1px solid;
  padding-top: 5px;
  margin: 0px;
}
.block-update-card .card-bottom-status:hover {
  background-color: #dd4b39;
  color: #FFFFFF;
  cursor: pointer;
}

/*
Creating a block for social media buttons
*/
.card-body-social {
  font-size: 30px;
  margin-top: 10px;
}
.card-body-social .git {
  color: black;
  cursor: pointer;
  margin-left: 10px;
}
.card-body-social .twitter {
  color: #19C4FF;
  cursor: pointer;
  margin-left: 10px;
}
.card-body-social .google-plus {
  color: #DD4B39;
  cursor: pointer;
  margin-left: 10px;
}
.card-body-social .facebook {
  color: #49649F;
  cursor: pointer;
  margin-left: 10px;
}
.card-body-social .linkedin {
  color: #007BB6;
  cursor: pointer;
  margin-left: 10px;
}

.music-card {
  background-color: green;
}
