<!-- <div ng-repeat="user in users track by $index">
  <div class="container usercard">
  	<div class="row">
    		<div class="span1">
            <img class="thumbnail" ng-src={{user.avatar}}  width="100px">
        </div>
        <div class="span3">
            <h5>{{user.name}}</h5>
          {{user.address}}
        </div>
  	</div>
    	<div class="row">
    		<div class="span3 offset1">
           Favorite <span class="glyphicon glyphicon-star"></span>
        </div>
  	</div>
  </div>

</div> -->

<input ng-model="query" type="text" class="form-control" placeholder="Search">


<div ng-repeat="user in users | filter: {name: query} | orderBy: 'name' track by $index">
    <div class="row" ng-hide="user.hide || user._id === currentUser._id || pokedOnesids.indexOf(user._id) != -1" >
     <!--  dont show ones that have an id that shows in the pokedIds array || pokedOnes.indexOf(user._id) != -1) -->
          <div class="profile-header-container">
          <div class="profile-header-img">
                  <img class="img-circle" ng-src={{user.avatar}} width="" />
                  <!-- badge -->
                  <div class="span3 offset1">
                    poke <span ng-click="pokeUser(user)" class="poker glyphicon glyphicon-hand-up" ng-hide="false"></span>
                    <span class="edit-user glyphicon glyphicon-pencil" ng-show="false"></span>
                    <span class="edit-user glyphicon glyphicon-trash" ng-show="false"></span>

                </div>
                  <div class="name-label-container">
                    <span class="label label-default name-label">{{user.name}}</span>
                  </div>
<!--                   <div class="phone-label-container">
                    <span class="label label-default phone-label">{{user.phone}}</span>
                  </div> -->
              </div>
          </div>
    </div>
  </div>
</div>
