<div class="modal-header">
  <h5 class="modal-title">Dont ANGER the Monkey...</h5>
  <h3>Login or join!</h3>
</div>
<div class="modal-body">
  <div class="row">
    <img class="col-sm-6" ng-src="images/evil_monkey.png" alt="" style="max-width: 200px">
    <div class="col-sm-4">
      <button ng-hide="register || errors" class="btn btn-danger" type="button" ng-click="showReg()">register</button>
      <button ng-hide="login || errors" class="btn btn-danger" type="button" ng-click="showLogin()">login</button>
      <button ng-if="loggedIn && !errors" class="btn btn-danger" type="button" ng-click="showReg()">Edit</button>
      <h4 class="error-messages" ng-if="errors">{{errorMessages}}</h4>
    </div>
  </div>
  <div>
    <user-form ng-show="register" />
  </div>
  <div>
    <log-in ng-show="login" />
  </div>
</div>
<div class="modal-footer">


  <button class="btn btn-warning" type="button" ng-click="!cancel()">Cancel</button>
  </body>

  </html>
