<div class="modal-header">
  <h3>Not already a member?</h3>
  <h5 class="modal-title">Dont ANGER the Monkey</h5>
</div>
<div class="modal-body">
  <div class="row">
    <img class="col-sm-6" ng-src="images/evil_monkey.png" alt="" style="max-width: 200px">
    <div class="col-sm-4">
      <button ng-if="!loggedIn" class="btn btn-danger" type="button" ng-click="showReg()">register</button>
      <button ng-if="!loggedIn" class="btn btn-danger" type="button" ng-click="showLogin()">login</button>
      <button ng-if="loggedIn" class="btn btn-danger" type="button" ng-click="showReg()">Edit</button>
    </div>
  </div>
  <div>
    <user-form ng-show="register" />
  </div>
  <div>
    <log-in ng-show="login" />
  </div>
</div>
<div class="modal-footer">


  <button class="btn btn-warning" type="button" ng-click="!cancel()">Cancel</button>
  </body>

  </html>
