
<div class="container">

	<nav  class= "navbar navbar-inverse row" ng-controller="loginCtrl">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
		<ul ng-show="loggedIn" class="nav navbar-nav navbar-right">
			<button class="btn btn-danger logoutButton" href="#" ng-click="logout()">Logout</button>
		</ul>
	</div>
		<!-- <div ng-show="loggedIn" class="col-sm-1 col-sm-offset-11">
			  <a href="#" ng-click="logout()">Logout</a>
		</div> -->

		<div >
			<form  class="nav-home navbar-form navbar-left" >
			  <log-in />
			</form>
		</div>
	</nav>

</div>
