<div class="container">
  <div class="row ">
      <div class="col-sm-12 col-md-4 profile-box">
    <h3 class="col-sm-12 text-center">{{currentUser.name}}</h3>
          <img ng-src="{{currentUser.avatar}}"
            alt="" class="img-rounded img-responsive" />

          <button ng-if="!isAdmin" id="editProfileButton" class="btn btn-lg btn-success" href="#" ng-click="editProfile()">
            Edit Profile
        <span class="edit-user glyphicon glyphicon-pencil" ng-show="true"></span></button>
      </div>
    </div>
    <div class="row">
    </div>
  </div>
</div>
